#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#
# This file is intentionally different from the output of `git svn show-ignore`,
# as most of those are useless.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Byte compiled python modules.
*.pyc
# vim swap files
.*.swp

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
.gitusers
cscope.files
cscope.out
autoconf/aclocal.m4
autoconf/autom4te.cache

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# External projects that are tracked independently.
projects/*
!projects/sample
!projects/CMakeLists.txt
!projects/Makefile
# Clang, which is tracked independently.
tools/clang

Debug+Asserts/**
Makefile.config
config.log
config.status
docs/doxygen.cfg
include/llvm/Config/AsmParsers.def
include/llvm/Config/AsmPrinters.def
include/llvm/Config/Disassemblers.def
include/llvm/Config/Targets.def
include/llvm/Config/config.h
include/llvm/Config/llvm-config.h
include/llvm/Intrinsics.gen
include/llvm/Support/DataTypes.h
lib/Analysis/Debug+Asserts/**
lib/Analysis/IPA/Debug+Asserts/**
lib/Archive/Debug+Asserts/**
lib/AsmParser/Debug+Asserts/**
lib/Bitcode/Reader/Debug+Asserts/**
lib/Bitcode/Writer/Debug+Asserts/**
lib/CodeGen/AsmPrinter/Debug+Asserts/**
lib/CodeGen/Debug+Asserts/**
lib/CodeGen/SelectionDAG/Debug+Asserts/**
lib/CompilerDriver/Debug+Asserts/**
lib/ExecutionEngine/Debug+Asserts/**
lib/ExecutionEngine/Interpreter/Debug+Asserts/**
lib/ExecutionEngine/JIT/Debug+Asserts/**
lib/ExecutionEngine/MCJIT/Debug+Asserts/**
lib/ExecutionEngine/RuntimeDyld/Debug+Asserts/**
lib/Linker/Debug+Asserts/**
lib/MC/Debug+Asserts/**
lib/MC/MCDisassembler/Debug+Asserts/**
lib/MC/MCParser/Debug+Asserts/**
lib/Object/Debug+Asserts/**
lib/Support/Debug+Asserts/**
lib/Target/ARM/ARMGenAsmMatcher.inc
lib/Target/ARM/ARMGenAsmWriter.inc
lib/Target/ARM/ARMGenCallingConv.inc
lib/Target/ARM/ARMGenCodeEmitter.inc
lib/Target/ARM/ARMGenDAGISel.inc
lib/Target/ARM/ARMGenDecoderTables.inc
lib/Target/ARM/ARMGenEDInfo.inc
lib/Target/ARM/ARMGenFastISel.inc
lib/Target/ARM/ARMGenInstrInfo.inc
lib/Target/ARM/ARMGenMCCodeEmitter.inc
lib/Target/ARM/ARMGenMCPseudoLowering.inc
lib/Target/ARM/ARMGenRegisterInfo.inc
lib/Target/ARM/ARMGenSubtargetInfo.inc
lib/Target/ARM/AsmParser/Debug+Asserts/**
lib/Target/ARM/Debug+Asserts/**
lib/Target/ARM/Disassembler/Debug+Asserts/**
lib/Target/ARM/InstPrinter/Debug+Asserts/**
lib/Target/ARM/MCTargetDesc/Debug+Asserts/**
lib/Target/ARM/TargetInfo/Debug+Asserts/**
lib/Target/Alpha/AlphaGenAsmWriter.inc
lib/Target/Alpha/AlphaGenCallingConv.inc
lib/Target/Alpha/AlphaGenDAGISel.inc
lib/Target/Alpha/AlphaGenInstrInfo.inc
lib/Target/Alpha/AlphaGenRegisterInfo.inc
lib/Target/Alpha/AlphaGenSubtargetInfo.inc
lib/Target/Alpha/Debug+Asserts/**
lib/Target/Alpha/MCTargetDesc/Debug+Asserts/**
lib/Target/Alpha/TargetInfo/Debug+Asserts/**
lib/Target/Blackfin/BlackfinGenAsmWriter.inc
lib/Target/Blackfin/BlackfinGenCallingConv.inc
lib/Target/Blackfin/BlackfinGenDAGISel.inc
lib/Target/Blackfin/BlackfinGenInstrInfo.inc
lib/Target/Blackfin/BlackfinGenIntrinsics.inc
lib/Target/Blackfin/BlackfinGenRegisterInfo.inc
lib/Target/Blackfin/BlackfinGenSubtargetInfo.inc
lib/Target/Blackfin/Debug+Asserts/**
lib/Target/Blackfin/MCTargetDesc/Debug+Asserts/**
lib/Target/Blackfin/TargetInfo/Debug+Asserts/**
lib/Target/CBackend/Debug+Asserts/**
lib/Target/CBackend/TargetInfo/Debug+Asserts/**
lib/Target/CellSPU/Debug+Asserts/**
lib/Target/CellSPU/MCTargetDesc/Debug+Asserts/**
lib/Target/CellSPU/SPUGenAsmWriter.inc
lib/Target/CellSPU/SPUGenCallingConv.inc
lib/Target/CellSPU/SPUGenCodeEmitter.inc
lib/Target/CellSPU/SPUGenDAGISel.inc
lib/Target/CellSPU/SPUGenInstrInfo.inc
lib/Target/CellSPU/SPUGenRegisterInfo.inc
lib/Target/CellSPU/SPUGenSubtargetInfo.inc
lib/Target/CellSPU/TargetInfo/Debug+Asserts/**
lib/Target/CppBackend/Debug+Asserts/**
lib/Target/CppBackend/TargetInfo/Debug+Asserts/**
lib/Target/Debug+Asserts/**
lib/Target/MBlaze/AsmParser/Debug+Asserts/**
lib/Target/MBlaze/Debug+Asserts/**
lib/Target/MBlaze/Disassembler/Debug+Asserts/**
lib/Target/MBlaze/InstPrinter/Debug+Asserts/**
lib/Target/MBlaze/MBlazeGenAsmMatcher.inc
lib/Target/MBlaze/MBlazeGenAsmWriter.inc
lib/Target/MBlaze/MBlazeGenCallingConv.inc
lib/Target/MBlaze/MBlazeGenCodeEmitter.inc
lib/Target/MBlaze/MBlazeGenDAGISel.inc
lib/Target/MBlaze/MBlazeGenEDInfo.inc
lib/Target/MBlaze/MBlazeGenInstrInfo.inc
lib/Target/MBlaze/MBlazeGenIntrinsics.inc
lib/Target/MBlaze/MBlazeGenRegisterInfo.inc
lib/Target/MBlaze/MBlazeGenSubtargetInfo.inc
lib/Target/MBlaze/MCTargetDesc/Debug+Asserts/**
lib/Target/MBlaze/TargetInfo/Debug+Asserts/**
lib/Target/MSP430/Debug+Asserts/**
lib/Target/MSP430/InstPrinter/Debug+Asserts/**
lib/Target/MSP430/MCTargetDesc/Debug+Asserts/**
lib/Target/MSP430/MSP430GenAsmWriter.inc
lib/Target/MSP430/MSP430GenCallingConv.inc
lib/Target/MSP430/MSP430GenDAGISel.inc
lib/Target/MSP430/MSP430GenInstrInfo.inc
lib/Target/MSP430/MSP430GenRegisterInfo.inc
lib/Target/MSP430/MSP430GenSubtargetInfo.inc
lib/Target/MSP430/TargetInfo/Debug+Asserts/**
lib/Target/Mips/Debug+Asserts/**
lib/Target/Mips/InstPrinter/Debug+Asserts/**
lib/Target/Mips/MCTargetDesc/Debug+Asserts/**
lib/Target/Mips/MipsGenAsmWriter.inc
lib/Target/Mips/MipsGenCallingConv.inc
lib/Target/Mips/MipsGenDAGISel.inc
lib/Target/Mips/MipsGenInstrInfo.inc
lib/Target/Mips/MipsGenRegisterInfo.inc
lib/Target/Mips/MipsGenSubtargetInfo.inc
lib/Target/Mips/TargetInfo/Debug+Asserts/**
lib/Target/PTX/Debug+Asserts/**
lib/Target/PTX/MCTargetDesc/Debug+Asserts/**
lib/Target/PTX/PTXGenAsmWriter.inc
lib/Target/PTX/PTXGenCallingConv.inc
lib/Target/PTX/PTXGenDAGISel.inc
lib/Target/PTX/PTXGenInstrInfo.inc
lib/Target/PTX/PTXGenRegisterInfo.inc
lib/Target/PTX/PTXGenSubtargetInfo.inc
lib/Target/PTX/TargetInfo/Debug+Asserts/**
lib/Target/PowerPC/Debug+Asserts/**
lib/Target/PowerPC/InstPrinter/Debug+Asserts/**
lib/Target/PowerPC/MCTargetDesc/Debug+Asserts/**
lib/Target/PowerPC/PPCGenAsmWriter.inc
lib/Target/PowerPC/PPCGenCallingConv.inc
lib/Target/PowerPC/PPCGenCodeEmitter.inc
lib/Target/PowerPC/PPCGenDAGISel.inc
lib/Target/PowerPC/PPCGenInstrInfo.inc
lib/Target/PowerPC/PPCGenMCCodeEmitter.inc
lib/Target/PowerPC/PPCGenRegisterInfo.inc
lib/Target/PowerPC/PPCGenSubtargetInfo.inc
lib/Target/PowerPC/TargetInfo/Debug+Asserts/**
lib/Target/Sparc/Debug+Asserts/**
lib/Target/Sparc/MCTargetDesc/Debug+Asserts/**
lib/Target/Sparc/SparcGenAsmWriter.inc
lib/Target/Sparc/SparcGenCallingConv.inc
lib/Target/Sparc/SparcGenDAGISel.inc
lib/Target/Sparc/SparcGenInstrInfo.inc
lib/Target/Sparc/SparcGenRegisterInfo.inc
lib/Target/Sparc/SparcGenSubtargetInfo.inc
lib/Target/Sparc/TargetInfo/Debug+Asserts/**
lib/Target/SystemZ/Debug+Asserts/**
lib/Target/SystemZ/MCTargetDesc/Debug+Asserts/**
lib/Target/SystemZ/SystemZGenAsmWriter.inc
lib/Target/SystemZ/SystemZGenCallingConv.inc
lib/Target/SystemZ/SystemZGenDAGISel.inc
lib/Target/SystemZ/SystemZGenInstrInfo.inc
lib/Target/SystemZ/SystemZGenRegisterInfo.inc
lib/Target/SystemZ/SystemZGenSubtargetInfo.inc
lib/Target/SystemZ/TargetInfo/Debug+Asserts/**
lib/Target/X86/AsmParser/Debug+Asserts/**
lib/Target/X86/Debug+Asserts/**
lib/Target/X86/Disassembler/Debug+Asserts/**
lib/Target/X86/InstPrinter/Debug+Asserts/**
lib/Target/X86/MCTargetDesc/Debug+Asserts/**
lib/Target/X86/TargetInfo/Debug+Asserts/**
lib/Target/X86/Utils/Debug+Asserts/**
lib/Target/X86/X86GenAsmMatcher.inc
lib/Target/X86/X86GenAsmWriter.inc
lib/Target/X86/X86GenAsmWriter1.inc
lib/Target/X86/X86GenCallingConv.inc
lib/Target/X86/X86GenDAGISel.inc
lib/Target/X86/X86GenDisassemblerTables.inc
lib/Target/X86/X86GenEDInfo.inc
lib/Target/X86/X86GenFastISel.inc
lib/Target/X86/X86GenInstrInfo.inc
lib/Target/X86/X86GenRegisterInfo.inc
lib/Target/X86/X86GenSubtargetInfo.inc
lib/Target/XCore/Debug+Asserts/**
lib/Target/XCore/MCTargetDesc/Debug+Asserts/**
lib/Target/XCore/TargetInfo/Debug+Asserts/**
lib/Target/XCore/XCoreGenAsmWriter.inc
lib/Target/XCore/XCoreGenCallingConv.inc
lib/Target/XCore/XCoreGenDAGISel.inc
lib/Target/XCore/XCoreGenInstrInfo.inc
lib/Target/XCore/XCoreGenRegisterInfo.inc
lib/Target/XCore/XCoreGenSubtargetInfo.inc
lib/Transforms/Hello/Debug+Asserts/**
lib/Transforms/IPO/Debug+Asserts/**
lib/Transforms/InstCombine/Debug+Asserts/**
lib/Transforms/Instrumentation/Debug+Asserts/**
lib/Transforms/Scalar/Debug+Asserts/**
lib/Transforms/Utils/Debug+Asserts/**
lib/VMCore/Debug+Asserts/**
llvm.spec
projects/sample/Debug+Asserts/**
projects/sample/Makefile.common
projects/sample/config.log
projects/sample/config.status
projects/sample/lib/sample/Debug+Asserts/**
projects/sample/tools/sample/Debug+Asserts/**
runtime/libprofile/Debug+Asserts/**
tools/bugpoint-passes/Debug+Asserts/**
tools/bugpoint/Debug+Asserts/**
tools/edis/Debug+Asserts/**
tools/llc/Debug+Asserts/**
tools/lli/Debug+Asserts/**
tools/llvm-ar/Debug+Asserts/**
tools/llvm-as/Debug+Asserts/**
tools/llvm-bcanalyzer/Debug+Asserts/**
tools/llvm-config/FinalLibDeps.txt
tools/llvm-config/LibDeps.txt
tools/llvm-config/LibDeps.txt.tmp
tools/llvm-config/llvm-config.in
tools/llvm-diff/Debug+Asserts/**
tools/llvm-dis/Debug+Asserts/**
tools/llvm-extract/Debug+Asserts/**
tools/llvm-ld/Debug+Asserts/**
tools/llvm-link/Debug+Asserts/**
tools/llvm-mc/Debug+Asserts/**
tools/llvm-nm/Debug+Asserts/**
tools/llvm-objdump/Debug+Asserts/**
tools/llvm-prof/Debug+Asserts/**
tools/llvm-ranlib/Debug+Asserts/**
tools/llvm-rtdyld/Debug+Asserts/**
tools/llvm-stub/Debug+Asserts/**
tools/llvmc/src/AutoGenerated.inc
tools/llvmc/src/Base.td
tools/llvmc/src/Debug+Asserts/**
tools/lto/Debug+Asserts/**
tools/macho-dump/Debug+Asserts/**
tools/opt/Debug+Asserts/**
unittests/ADT/Debug+Asserts/**
unittests/Analysis/Debug+Asserts/**
unittests/ExecutionEngine/Debug+Asserts/**
unittests/ExecutionEngine/JIT/Debug+Asserts/**
unittests/Support/Debug+Asserts/**
unittests/Transforms/Utils/Debug+Asserts/**
unittests/VMCore/Debug+Asserts/**
utils/FileCheck/Debug+Asserts/**
utils/FileUpdate/Debug+Asserts/**
utils/PerfectShuffle/Debug+Asserts/**
utils/TableGen/Debug+Asserts/**
utils/count/Debug+Asserts/**
utils/fpcmp/Debug+Asserts/**
utils/not/Debug+Asserts/**
utils/unittest/UnitTestMain/Debug+Asserts/**
utils/unittest/googletest/Debug+Asserts/**
